$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1.5,
  4: ($spacer * 2),
  5: ($spacer * 2.5),
  6: ($spacer * 3.5),
  7: ($spacer * 6),
  8: ($spacer * 4.5),
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$lead-font-weight:            300 !default;

$card-font-weight:500;
$card-font-weight-9:900;


// xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px

@mixin small {
  @media (max-width: 576px) { @content; }
}
@mixin medium {
  @media (min-width: 768px) { @content; }
}
@mixin large {
  @media (min-width: 992px) { @content; }
}
@mixin xlarge {
  @media (min-width: 1200px) { @content; }
}
@mixin xxl {
  @media (min-width: 1400px) { @content; }
}

