
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);    
    width: 100%;
    height: 100vh;
}


.btn {
    background-color: transparent;
    border-color: white;

}

.btn:hover {
    background-color: white;;

}

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-body-font-weight: 900;
}