
@import "../node_modules/bootstrap/scss/bootstrap";

.homepage {
    
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);    
    height: auto;
    
    
}

.btn {
    padding: 10px 40px;
}


.homepage-btn {
    background-color: transparent;
    border-color: white;
    color: white;
   
    
        
}

.wrapper-btn {
    background-color: transparent;
    border-color: white;
    color: white;
    display: block;
    margin: 1rem 5rem;
    

    @include media-breakpoint-up(sm){
        display: inline;
        margin:0 0.5rem;

    }
        
}


.btn:hover {
    background-color: white;;
    color: black;

}

// :root {
//     --bs-body-font-family: 'Poppins', sans-serif;
    
// }

.card.img-bottom {
    padding: 0 50px;

}

.wrapper {
        --bs-gutter-x: 6rem;
    

    .wrapper-text1 {
        font-family: "poppins";
        font-size: 46px;
        font-weight: 500;
        @include media-breakpoint-up(sm) {
            font-family: "poppins";
              font-size: 55px;
              font-weight: 900;
              letter-spacing: 0.2px;
              line-height: 65.5px;
            }


    } 
    .wrapper-text2 {
        
            margin:0 50px;


}
}


